*,
::before,
::after {
  box-sizing: border-box
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

hr {
  height: 0;
  color: inherit
}

abbr[title] {
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

table {
  text-indent: 0;
  border-color: inherit
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.3;
  margin: 0;
  outline: none;
  max-width: 100%
}

button,
select {
  text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  border: none
}

::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow: none
}

legend {
  padding: 0
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item;
  margin-bottom: .5rem
}

a {
  text-decoration: none;
  color: inherit
}

img {
  max-width: 100%;
  width: fit-content
}

.clear-button {
  display: none
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  list-style: none;
  padding: 0;
  margin: 0
}

p {
  margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

[hidden] {
  display: none !important
}

#preview-bar-container {
  position: absolute;
  top: 0px
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
  height: 100%
}

.carousel-dot,
.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s;
  border-radius: 50%;
  border: unset;
  box-shadow: rgba(0, 0, 0, .02) 0px 1px 3px 0px, rgba(27, 31, 35, .15) 0px 0px 0px 1px
}

.carousel-control {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .25rem
}

.carousel-control.absolute {
  position: absolute;
  z-index: 5;
  opacity: .5;
  margin: auto 1rem
}

.carousel:hover .carousel-control.absolute,
.carousel:hover .carousel-dots.absolute {
  opacity: 1
}

.carousel-control.absolute.prev {
  left: 0
}

.carousel-control.absolute.next {
  right: 0
}

.carousel-slider {
  display: flex;
  align-items: stretch;
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none
}

.carousel-slider::-webkit-scrollbar {
  display: none
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box
}

.carousel-slider.gap .carousel-slide>* {
  width: calc(100% - 1rem)
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin: .25rem 0;
  flex-wrap: wrap
}

.carousel-dots.absolute {
  position: absolute;
  opacity: .5;
  bottom: 0
}

.carousel-dot {
  width: .5rem;
  height: .5rem;
  border: none;
  padding: 0
}

.carousel-dot:hover,
.carousel-dot.active {
  background-color: #000;
  transform: scale(1.2)
}

.carousel-control.hidden,
.carousel-dots.hidden {
  display: none
}

.carousel-slide {
  min-width: 50%;
  flex: 1
}

@media(max-width: 768px) {
  .carousel-slide {
    min-width: 100%
  }
}

.ph-item {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 30px 15px 15px;
  position: relative
}

.ph-item,
.ph-item *,
.ph-item :after,
.ph-item :before {
  box-sizing: border-box
}

.ph-item:before {
  -webkit-animation: ph-animation .8s linear infinite;
  animation: ph-animation .8s linear infinite;
  background: linear-gradient(90deg, hsla(0deg, 0%, 100%, 0) 46%, hsla(0deg, 0%, 100%, 0.35) 50%, hsla(0deg, 0%, 100%, 0) 54%) 50% 50%;
  bottom: 0;
  content: " ";
  left: 50%;
  margin-left: -250%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 500%;
  z-index: 1
}

@media(min-width: 1024px) {
  .ph-item:before {
    -webkit-animation: ph-animation 1.4s linear infinite;
    animation: ph-animation 1.4s linear infinite
  }
}

.ph-item>* {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px
}

.ph-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -7.5px
}

.ph-row div {
  background-color: #ced4da;
  height: 10px;
  margin-top: 7.5px
}

.ph-row .big,
.ph-row.big div {
  height: 20px
}

.ph-row .empty {
  background-color: rgba(255, 255, 255, 0)
}

.ph-col-2 {
  flex: 0 0 16.6666666667%
}

.ph-col-4 {
  flex: 0 0 33.3333333333%
}

.ph-col-6 {
  flex: 0 0 50%
}

.ph-col-8 {
  flex: 0 0 66.6666666667%
}

.ph-col-10 {
  flex: 0 0 83.3333333333%
}

.ph-col-12 {
  flex: 0 0 100%
}

[class*=ph-col] {
  direction: ltr
}

[class*=ph-col]>*+.ph-row {
  margin-top: 0
}

[class*=ph-col]>*+* {
  margin-top: 7.5px
}

.ph-avatar {
  background-color: #ced4da;
  border-radius: 50%;
  min-width: 60px;
  overflow: hidden;
  position: relative;
  width: 100%
}

.ph-avatar:before {
  content: " ";
  display: block;
  padding-top: 100%
}

.ph-picture {
  background-color: #ced4da;
  height: 120px;
  width: 100%
}

@-webkit-keyframes ph-animation {
  0% {
    transform: translate3d(-30%, 0, 0)
  }

  to {
    transform: translate3d(30%, 0, 0)
  }
}

@keyframes ph-animation {
  0% {
    transform: translate3d(-30%, 0, 0)
  }

  to {
    transform: translate3d(30%, 0, 0)
  }
}

.input,
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border: 1px solid $brand_color;
  border-radius: .4rem;
  padding: 0 1rem
}

.button {
  background-color: $brand_color;
  color: #fff;
  font-weight: bold;
  width: fit-content;
  cursor: pointer
}

.button--xsmall {
  padding: .4rem .9rem;
  font-size: 1rem
}

.button--disabled {
  cursor: default;
  opacity: .6
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .2509803922);
  display: none;
  justify-content: center;
  align-items: center
}

.modal.open {
  display: flex
}

.modal__content {
  background-color: #fff;
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  min-width: 400px;
  max-width: 900px
}

.modal__header,
.modal__body,
.modal__footer {
  display: flex;
  gap: 1rem;
  padding: 2rem
}

.modal__header {
  align-items: center;
  justify-content: space-between
}

.modal__body {
  flex-direction: column
}

.modal__footer {
  justify-content: flex-end
}

.modal__close {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 50ms
}

.modal__close:hover {
  color: $brand_color
}

.search-bar {
  width: 50%;
  font-size: 1rem;
  margin-top: 2rem
}

.search-bar__input {
  padding-left: 52px;
  width: 100%;
  border: none;
  height: 3.5rem;
}

.search-bar__input.no-result__input {
  height: 4rem;
}

.search-bar__button {
  position: relative;
  float: left;
  bottom: 48px;
  background-color: rgba(0, 0, 0, 0);
  border: none
}

.search-bar__button svg path {
  fill: $brand_color
}

.search-bar__icon {
  width: 20px;
}

.card-called {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, .16);
  border-radius: 8px;
  padding: 2.5rem
}

.card-called.black {
  background: #000
}

.card-called.light {
  background: #fff
}

.card-called__title {
  color: #fff;
  line-height: 32px
}

.card-called__title h2 {
  font-family: "Right Grotesk";
  font-weight: 500;
  font-size: 1.5rem
}

.card-called__title h2.green {
  color: #bfff00
}

.card-called__title h2.light {
  color: #000
}

.card-called__title p {
  font-family: "Lato";
  font-weight: 400
}

.card-called__title p a {
  text-decoration: underline;
  color: #bfff00
}

.card-called__title p.gray {
  color: #606060
}

.card-called__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 48px;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .16);
  border-radius: 8px;
  cursor: pointer;
}

.card-called__button.green {
  background: #bfff00;
  color: #000
}

.card-called__button.green:hover {
  opacity: 1;
  background: #a3da00
}

.card-called__button.black {
  background: #000;
  color: #fff
}

.card-called__button.black:hover {
  opacity: 1;
  background: #2f2f2f
}

.card-called__button.grey {
  background: #222222;
  color: #fff;
}

.card-called__button.grey:hover {
  opacity: 1;
  background: #666666;
}

.card-called__button.light {
  background: #fff;
  color: #000;
  border: 1px solid #222222;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.card-called__button.light:hover {
  opacity: 1;
  border: 2px solid #222222;
  background: #fff;
}

.card-called__form {
  display: contents
}

.card-called__form .search-bar__button svg path {
  fill: #000
}

.card-service-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-service-channels {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: linear-gradient(to top, #2D2D2D 50%, white 50%);
  width: 100%
}

.card-service-channels.shadow {
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 10, 106, .16);
  padding: 2.5rem;
  border-radius: 8px
}

.card-service-channels.shadow-footer {
  margin-top: 0
}

.card-service-channels.shadow-footer .container-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #fff;
  border-radius: 8px;
  padding: 2.5rem;
  box-shadow: 0px 4px 24px rgba(0, 10, 106, .16);
  margin: 0
}


.card-service-channels__header {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.card-service-channels__header p {
  background-color: #bfff00;
  width: fit-content
}

.card-service-channels__header h2 {
  font-family: "Right Grotesk";
  font-weight: 400
}

.card-service-channels__body {
  display: flex;
  flex-direction: column;
  gap: 1.1rem
}

.card-service-channels__body h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.1rem
}

.card-service-channels__body ul {
  flex-direction: row;
  gap: 2.5rem;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1rem
}

.card-service-channels__body ul li {
  display: flex;
  align-items: center;
  gap: .5rem
}

.card-service-channels__body ul li img {
  width: 24px;
  height: 24px
}

.card-service-channels__body ul:first-child,
.card-service-channels__body ul:last-child {
  border-bottom: none
}

.card-service-channels.negative {
  width: 92vw;
  max-width: 1440px;
  margin: -20rem auto 2rem auto
}

@media(max-width: 768px) {
  .search-bar {
    width: 100%
  }

  .card-called {
    flex-direction: column;
    gap: 1rem;
    text-align: center
  }

  .card-service-channels {
    padding: 0 .5rem
  }

  .card-service-channels__body ul {
    flex-direction: column
  }

  .card-service-channels.negative {
    margin: -30rem auto 2rem auto
  }

  .card-service-channels.form .card-called {
    text-align: center
  }

  .card-service-channels.form .card-called__title {
    display: contents
  }

  .card-service-channels.form .card-called__title h2 {
    color: #fff
  }

  .card-service-channels.form .card-called__form .search-bar__input {
    padding-left: 35px;
    padding-right: 10px
  }

  .card-service-channels.form .card-called__form .search-bar__button {
    padding: 0 .5rem
  }

  .footer-social__media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 425px) {
  .card-called {
    text-align: start
  }

  .card-called__button {
    width: 100%
  }
}

zd-autocomplete {
  border-radius: 8px
}

zd-autocomplete zd-autocomplete-multibrand {
  display: flex;
  flex-direction: column
}

zd-autocomplete zd-autocomplete-multibrand[aria-selected=true] {
  background-color: #cbf2e1
}

zd-autocomplete zd-autocomplete-title-multibrand {
  color: $brand_color
}

zd-autocomplete zd-autocomplete-title-multibrand em {
  font-weight: bold
}

zd-autocomplete zd-autocomplete-breadcrumbs-multibrand {
  overflow: hidden;
  text-overflow: ellipsis
}

.custom-pagination .pagination-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem
}

.custom-pagination .pagination-list li {
  color: #606060;
  line-height: 1.5
}

.custom-pagination .pagination-list li input {
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
  padding: 0 0 2px;
  color: inherit;
  border-radius: 99999px;
  text-align: center
}

.custom-pagination .pagination-list li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #000;
  cursor: pointer
}

.custom-pagination .pagination-list li button img {
  filter: brightness(0) invert(1)
}

.custom-pagination .pagination-list li button[disabled] {
  opacity: .7;
  cursor: not-allowed
}

.lds-roller {
  display: block;
  margin: 1rem auto;
  position: relative;
  width: 80px;
  height: 80px
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px
}

.dropdown--text {
  cursor: pointer;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.lds-spinner {
  display: block;
  margin: 5rem auto;
  position: relative;
  width: 80px;
  height: 80px
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s
}

@keyframes lds-spinner {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

header {
  background-color: #000
}

.header {
  border-bottom: 1px solid rgba(230, 230, 230, .231372549);
  max-height: 93px;
  background: #000
}

.header__content {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%
}

.header__content-start {
  display: flex;
  gap: 1rem;
}

.header .header-logo {
  display: flex;
  align-items: center;
  gap: 2rem
}

.header .header-logo__img {
  width: 8rem
}

.header__link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700
}

.header__link__custom {
  cursor: pointer;
}

.header__link__custom-content {
  display: flex;
  gap: 0.5rem;
}

.header__link__custom p {
  color: #fff;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  font-weight: bold;
  color: #fff
}

.header__nav a {
  font-weight: 400;
}

.header__nav a img {
  margin-right: .6rem
}

.header__dropdown {
  display: flex;
  gap: 1rem;
  position: relative;
  align-items: center;
}

.header__dropdown__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.header__link__custom__menu {
  text-align: center;
}

.hearder_dropdown-noauth {
  display: flex;
  gap: 1rem;
}

a .hearder_dropdown-noauth img {
  margin-right: 0;
}

.header__dropdown-welcome {
  color: #C8C8C8;
  font-weight: 400;
  font-size: 0.75rem;
  font-family: 'Lato';
  font-style: normal;
}

.header__dropdown-welcome-custom {
  font-size: 0.75rem;
  font-weight: 400;
  color: #C8C8C8;
  font-family: 'Lato';
  font-style: normal;
}

.dropdown--mobile {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: center;
  cursor: auto;
}

.dropdown--mobile_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 4%;
  margin-top: 0.25rem;
  transform: translate(10%);
  padding: 0.5rem 0 0.5rem 0;
  width: fit-content;
  border-radius: 0.5rem;
  min-width: 135px;
  justify-content: center;
}

.dropdown--user {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown__content a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.dropdown__content a:hover {
  background-color: #ddd;
}

.dropdown-show {
  display: block;
}

.dropdown-icon {
  transition: transform .2s cubic-bezier(.075, .82, .165, 1);
}

.icon-active {
  transform: rotate(180deg);
}

.header__nav.nav--active {
  transform: translateX(0%);
  gap: 2rem;
  justify-content: normal;
  padding: 2rem 0;
}

.header__button {
  display: none;
  cursor: pointer
}

.header__button .button__line1,
.header__button .button__line2,
.header__button .button__line3 {
  transition: all .4s ease;
  width: 1.7rem;
  height: .2rem;
  background-color: #fff;
  margin: .3rem;
  border-radius: .3rem
}

.header__button.button--active .button__line1 {
  transform: rotate(-45deg) translate(-5px, 6px)
}

.header__button.button--active .button__line2 {
  opacity: 0
}

.header__button.button--active .button__line3 {
  transform: rotate(45deg) translate(-5px, -6px)
}

.header__button-green {
  padding: 0.75rem 1.5rem;
  background: #bfff00;
  box-shadow: 0px 4px 16px rgba(0, 25, 255, .16);
  border-radius: 8px;
  color: #000;
  font-weight: 700 !important;
  transition: all ease-in 100ms
}

.header__button-green:hover {
  background: #a3da00;
  opacity: 1
}

.header__banner {
  display: flex;
  align-items: center;
  height: 25rem;
  background-color: #000;
}

.header__banner .title {
  text-align: center;
  gap: 1.5rem;
}

.header__banner .title h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 115%;
}

.header__banner .title h1 b {
  color: #bfff00;
}

.header__banner .title p {
  color: #C8C8C8;
  font-size: 1.25rem;
  line-height: 115%;
}

.header__search {
  display: flex;
  justify-content: center
}

.footer {
  background-color: #2f2f2f;
  border-bottom: 1.5rem solid #bfff00
}

.footer .container,
.footer section {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: start;
  justify-content: center;
  padding: 5rem 0;
  color: #fff
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 1.68rem;
}

.footer-social__media {
  display: flex;
  gap: 1.37rem;
  align-self: center
}

.footer-social__media a {
  text-align: center;
  display: flex;
  align-items: center
}

.footer-social__media a img {
  height: 30px
}

.footer-social__media a:hover {
  transform: scale(1.1)
}

.footer__categories,
.footer__shortcuts {
  gap: .9rem
}

.footer__categories h2,
.footer__shortcuts h2 {
  font-family: "Right Grotesk";
  font-weight: 400
}

.footer__categories li a:hover,
.footer__shortcuts li a:hover {
  color: $brand_color
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: .9rem
}

.footer__contact h2 {
  font-family: "Right Grotesk";
  font-weight: 400
}

.footer__contact a {
  max-width: 13rem;
  padding: 1rem 2rem;
  background: #bfff00;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .16);
  border-radius: 8px;
  color: #000;
  font-weight: 600
}

.footer__contact a:hover {
  background: #a3da00
}

.example-container {
  text-align: center;
  background-color: #ddd;
  padding: 3rem 0;
  border-radius: .4rem
}

.row {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center
}

.button:hover,
a:hover {
  opacity: 1
}

.vote-button {
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  opacity: 1;
  background-color: #fff;
  border: 1px solid #000;
  color: #000
}

.vote-button::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}

.vote-button.up::after {
  background-image: url($assets-voteup-svg)
}

.vote-button.down::after {
  background-image: url($assets-votedown-svg)
}

.vote-button.up.active {
  background-color: $brand_color;
  color: #fff;
  border: none
}

.vote-button.up.active::after {
  background-image: url($assets-voteup-white-svg)
}

.vote-button.down.active {
  background-color: $error_color;
  color: #fff;
  border: none
}

.vote-button.down.active::after {
  background-image: url($assets-votedown-white-svg)
}

.vote-button:hover {
  color: #fff;
  border: none
}

.vote-button:hover.up {
  background-color: $brand_color
}

.vote-button:hover.up::after {
  background-image: url($assets-voteup-white-svg)
}

.vote-button:hover.down {
  background-color: $error_color
}

.vote-button:hover.down::after {
  background-image: url($assets-votedown-white-svg)
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.form-title h1 {
  font-family: "Right Grotesk";
  font-weight: 400;
  font-size: 2rem;
  text-align: start;
}

.form-title h2 {
  font-family: "Right Grotesk";
  font-weight: 500;
  line-height: 32px;
  color: #000;
  text-align: center;
}

.form-title h3 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #606060;
  text-align: start;
}

.form-title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 1rem;
}

.form-title-text h1 {
  font-family: "Right Grotesk";
  font-weight: 400;
  font-size: 2rem;
  text-align: start;
}

.form-title-text h2 {
  font-family: "Right Grotesk";
  font-weight: 500;
  line-height: 32px;
  color: #000;
  text-align: start;
}

.form-title-text h3 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #606060;
  text-align: start;
}

.form-title-span::after {
  content: "*";
  color: red;
}

form .form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .nesty-input,
form input[type=text],
form input[type=number] {
  border: 1px solid #606060;
  border-radius: 4px;
  padding: 7px 24px;
  height: 100%;
  color: #606060;
  outline: none
}

form .nesty-input:focus,
form input[type=text]:focus,
form input[type=number]:focus,
form .nesty-input:hover,
form input[type=text]:hover,
form input[type=number]:hover {
  border: 1px solid $brand_color;
  color: #000
}

form .nesty-input::after,
form input[type=text]::after,
form input[type=number]::after {
  content: "";
  background: url($assets-chevron-down-svg) no-repeat center;
  height: 15px;
  width: 15px
}

form .upload-dropzone {
  border: 1px dashed #606060;
  border-radius: 4px
}

form .upload-dropzone span,
form .upload-dropzone a {
  color: #606060;
  font-size: 1rem
}

form #hc-wysiwyg:hover,
form #hc-wysiwyg:target {
  border: 1px solid $brand_color
}

form input[type=submit] {
  width: 100%;
  background: #000;
  color: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .16);
  border-radius: 8px;
  padding: 18px 32px;
  cursor: pointer
}

form input[type=submit]:hover {
  background-color: #2f2f2f
}

.categories-cards ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.25rem;
}

.categories-cards__card {
  background: #fff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, .16);
  border-radius: 8px;
  gap: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.flex-start {
  align-items: flex-start;
}

.categories-cards__card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  transition: all ease-out 200ms
}

.categories-cards__card a img {
  height: 48px;
  width: 42px
}

.categories-cards__card a p {
  font-family: "Lato";
  font-weight: 400;
}

.categories-cards__card a h3 {
  font-family: "Right Grotesk";
  font-weight: 500;
  font-size: 1.5rem
}

.categories-cards__card p {
  color: #606060;
  text-align: center;
  font-size: 0.875rem;
  font-family: Lato;
  line-height: 1.5rem;
}

.full-width {
  width: 100%;
}

.categories-cards__content {
  display: flex;
  gap: 1rem;
}

.categories-cards__card a span,
.categories-cards__card a form .upload-dropzone a,
form .upload-dropzone .categories-cards__card a a {
  color: #606060
}

.categories-cards__card a:hover {
  transform: scale(1.1);
  transition: all ease-in 200ms
}

.categories-card_wpp-span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.categories-cards__card a .categories-card_wpp-span span {
  color: #000;
}

.categories-cards__card a .categories-card_wpp-icon {
  height: 17px;
  width: 17px;
}

.categories-cards__fullwith {
  width: 100%;
  padding: 0;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

section.home-category {
  margin-top: -8rem;
  gap: 2rem;
  padding: 5.5rem 0 2rem 0;
}

.promoted-articles__container {
  padding: 2rem 0;
}

.promoted-articles {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.promoted-articles__title {
  font-family: "Right Grotesk";
  font-weight: 400
}

.promoted-articles__list li {
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0
}

.promoted-articles__list li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem
}

.promoted-articles__list li a h3 {
  font-size: 1rem;
  font-weight: 400
}

.promoted-articles__list li a:hover {
  color: #009254
}

.promoted-articles__list li:first-child {
  border-top: 1px solid #e6e6e6
}

.section-header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-header h2 {
  font-size: 2.5rem;
  font-family: Right Grotesk;
  font-weight: 500;
  line-height: 115%;
}

.section-header .breadcrumbs {
  display: flex;
  flex-direction: row
}

.section-header .breadcrumbs li {
  display: flex;
  align-items: center
}

.section-header .breadcrumbs li ::after {
  content: "";
  background: url($assets-chevron-right-svg) no-repeat center;
  height: 15px;
  width: 15px
}

.section-header .breadcrumbs li:last-child a::after {
  content: none
}

.section-header .breadcrumbs a {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  color: #000;
  gap: .2rem
}

.section-header .breadcrumbs a:hover {
  color: $brand_color
}

.section-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
}

.section-articles__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, .08);
  border-radius: 4px;
  background: #fff;
  min-height: 400px;
  padding: 2.5rem;
  width: calc((100% / 3) - 1rem);
}

.section-articles__card h2 {
  font-family: "Right Grotesk";
  font-weight: 400;
  margin-bottom: 1.5rem
}

.section-articles__card ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0
}

.section-articles__card ul li a:hover {
  color: $brand_color
}

.section-articles__card ul li:first-child {
  border-top: 1px solid #e6e6e6
}

.section-articles__card ul li:last-child {
  border-bottom: none
}

.section-articles__view-more {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: $brand_color
}

.section-articles__view-more:hover {
  color: $brand_color_800 !important
}

.section-page {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.section-page .section-page-articles {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.section-page .section-page-articles__list li {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0
}

.section-page .section-page-articles__list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem
}

.section-page .section-page-articles__list li a:hover {
  color: #009254
}

.section-page .section-page-articles__list li:first-child {
  border-top: 1px solid #e6e6e6
}

.with-menu aside strong {
  font-family: "Right Grotesk";
  font-weight: 400;
  font-size: 1.2rem
}

.with-menu aside ul {
  margin-top: 1.5rem;
  gap: 1rem
}

.with-menu aside ul li {
  display: flex;
  width: 100%;
  height: 100%
}

.with-menu aside ul li a {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background: #e6e6e6;
  border-radius: 8px
}

.with-menu aside ul li a.current-article {
  background: #bfff00
}

.with-menu aside ul li a:hover {
  background: #a3da00
}

.with-menu main .title {
  font-family: "Right Grotesk";
  font-weight: 500;
  font-size: 2.5rem;
}

.with-menu main .article-body {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0
}

.with-menu main .article-vote {
  display: flex;
  align-items: center;
  gap: 1.2rem
}

.with-menu main .article-vote__buttons {
  display: flex;
  gap: 1rem
}

.with-menu main .breadcrumbs {
  display: flex;
  flex-direction: row
}

.with-menu main .breadcrumbs li {
  display: flex;
  align-items: center
}

.with-menu main .breadcrumbs li ::after {
  content: "";
  background: url($assets-chevron-right-svg) no-repeat center;
  height: 15px;
  width: 15px
}

.with-menu main .breadcrumbs li:last-child a::after {
  content: none
}

.with-menu main .breadcrumbs a {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  color: #000;
  gap: .2rem
}

.with-menu main .breadcrumbs a:hover {
  color: $brand_color
}

.search-result {
  gap: 2rem;
}

.no-result {
  padding: 0;
  margin: 1rem 0;
}

.no-result .header__search {
  width: 100%;
}

.no-result .header__search form {
  border-radius: 8px;
  background: var(--tons-de-cinza-tons-de-cinza-200, #FFF);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16);
  max-height: 4.5rem;
  margin: 0;
}

.search-result.no-result .search-result__title h2 {
  color: $brand_color
}

.search-result.no-result .search-result__title b {
  max-width: 32rem
}

.search-result__title {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.search-result__title.no-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.search-result__title h2 {
  font-family: "Right Grotesk";
  font-weight: 400;
  font-size: 2rem
}

.search-result__title span,
.search-result__title form .upload-dropzone a,
form .upload-dropzone .search-result__title a {
  font-size: .87rem;
  color: #606060
}

.search-result__list li {
  border-bottom: 1px solid #e6e6e6;
  padding: 1.5rem 0
}

.search-result__list li:first-child {
  border-top: 1px solid #e6e6e6
}

.search-result__list li a {
  display: flex;
  justify-content: space-between;
}

.search-result__list li a ul.row {
  gap: .5rem
}

.search-result__list li a ul.row li {
  display: flex;
  align-items: center;
  padding: 0;
  border: none
}

.search-result__list li a ul.row li:hover {
  color: $brand_color
}

.search-result__list li a ul.row li::after {
  content: "";
  background: url($assets-chevron-right-svg) no-repeat center;
  height: 15px;
  width: 15px;
  margin-left: .4rem
}

.search-result__list li a ul.row li:last-child::after {
  content: none
}

.pagination-container .pagination-list {
  display: flex;
  align-items: center;
  flex-direction: row
}

.pagination-container .pagination-list .button {
  background: #000;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem
}

.pagination-container .pagination-list .pagination-next,
.pagination-container .pagination-list .pagination-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem
}

.pagination-container .pagination-list .pagination-next:hover,
.pagination-container .pagination-list .pagination-prev:hover {
  opacity: .8
}

.pagination-container .pagination-input {
  padding: .4rem;
  font-size: 1rem;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  color: $text_color;
  height: 2rem;
  width: 2rem
}

.pagination-container .pagination-input::-webkit-outer-spin-button,
.pagination-container .pagination-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.pagination-container .pagination-prev-icon,
.pagination-container .pagination-next-icon {
  color: #fff
}

.pagination-container .pagination-prev-text,
.pagination-container .pagination-next-text {
  display: none
}

.pagination-container .pagination-last,
.pagination-container .pagination-first {
  display: none
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem
}

.error-page__title {
  color: $brand_color;
  font-size: 3rem
}

.error-page__mensage {
  font-weight: 700
}

.error-page__button {
  background: #000;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .16);
  border-radius: 8px;
  color: #fff;
  padding: 1rem 2rem
}

.error-page__button:hover {
  background: #2f2f2f
}

.notification {
  border: 1px solid;
  display: table;
  font-family: sans-serif;
  font-size: 12px;
  padding: 13px 15px;
  transition: height .2s;
  width: 100%;
  color: #555
}

.notification a {
  color: #158ec2
}

.notification-inner {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px
}

.notification-icon,
.notification-text,
.notification-dismiss {
  display: table-cell;
  vertical-align: middle
}

.notification-text {
  padding: 0 15px;
  width: 100%
}

.notification+.notification {
  margin-bottom: -1px;
  position: relative;
  top: -1px
}

.notification-error {
  background: #ffeded;
  border-color: #f7cbcb
}

.notification-error .notification-icon::before,
.notification-error .notification-inline.notification-error::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' focusable='false' viewBox='0 0 12 12'%3E%3Cg fill='none' stroke='%23555555'%3E%3Ccircle cx='5.5' cy='6.5' r='5'/%3E%3Cpath stroke-linecap='round' d='M5.5 3.5v3'/%3E%3C/g%3E%3Ccircle cx='5.5' cy='9' r='1' fill='%23555555'/%3E%3C/svg%3E")
}

.notification-notice {
  background: #dbf3ff;
  border-color: #b5e0f5
}

.notification-notice .notification-icon::before,
.notification-notice .notification-inline.notification-error::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' focusable='false' viewBox='0 0 12 12'%3E%3Cg fill='none' stroke='%23555555'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3.5 6l2 2L9 4.5'/%3E%3Ccircle cx='6' cy='6' r='5.5'/%3E%3C/g%3E%3C/svg%3E")
}

.notification-alert {
  color: #ad5e18;
  background: #fff8ed;
  border-color: #fcdba9
}

.notification-alert .notification-icon::before,
.notification-alert .notification-inline.notification-error::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' focusable='false' viewBox='0 0 12 12'%3E%3Cpath fill='none' stroke='%23ad5e18' stroke-linecap='round' d='M5.06 1.27l-4.5 8.5c-.18.33.06.73.44.73h9c.38 0 .62-.4.44-.73l-4.5-8.5a.494.494 0 00-.88 0zM5.5 4v2'/%3E%3Ccircle cx='5.5' cy='8' r='.8' fill='%23ad5e18'/%3E%3C/svg%3E")
}

.notification-icon::before,
.notification-inline.notification-error::before {
  background-size: cover;
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: middle
}

.notification-dismiss,
a.notification-dismiss {
  color: #555;
  cursor: pointer;
  opacity: .6;
  transition: opacity 100ms ease;
  text-decoration: none !important
}

.notification-dismiss:hover {
  opacity: 1
}

.notification-inline {
  border-radius: 4px;
  line-height: 14px;
  margin-top: 5px;
  padding: 5px;
  position: relative;
  text-align: left;
  vertical-align: middle
}

[dir=rtl] .notification-inline {
  text-align: right
}

.notification-inline[aria-hidden=true] {
  display: none
}

.notification-inline.notification-error::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' focusable='false' viewBox='0 0 12 12'%3E%3Cg fill='none' stroke='%23e35b66'%3E%3Ccircle cx='5.5' cy='6.5' r='5'/%3E%3Cpath stroke-linecap='round' d='M5.5 3.5v3'/%3E%3C/g%3E%3Ccircle cx='5.5' cy='9' r='1' fill='%23e35b66'/%3E%3C/svg%3E");
  margin: -2px 5px 0 0
}

[dir=rtl] .notification-inline.notification-error::before {
  margin: 0 0 0 5px
}

.notification-inline.notification-error {
  background-color: #fff0f1;
  border: 1px solid #e35b66;
  color: #cc3340
}

.notification-inline.notification-large {
  padding: 13px 15px;
  margin-bottom: 25px
}

.notification-left-aligned {
  text-align: left;
  padding-left: 0
}

html[dir=rtl] .notification-left-aligned {
  text-align: right;
  padding-left: auto;
  padding-right: 0
}

.my-activities-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.my-activities-header h1 {
  font-family: "Right Grotesk";
  font-weight: 400;
  font-size: 2rem
}

.my-activities-header a {
  color: #fff;
  padding: 1rem 2rem;
  background: #000;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .16);
  border-radius: 8px
}

.my-activities-header a:hover {
  opacity: 1;
  background-color: #2f2f2f
}

.my-activities-header .breadcrumbs {
  display: none
}

.requests .table-holder {
  min-height: 18rem
}

.requests .table-holder .no-requests-msg {
  margin: 6rem 0;
  display: block;
  color: #606060;
  font-size: 1.125rem
}

.requests table {
  width: 100%;
  border-collapse: collapse
}

.requests table thead {
  border-bottom: 1px solid #e6e6e6;
  height: 3rem
}

.requests table thead tr {
  font-size: 1rem
}

.requests table thead tr th:first-child {
  text-align: start
}

.requests table tbody {
  transition: opacity .1s ease-in-out
}

.requests table tbody.transitioning {
  opacity: 0
}

.requests table tbody tr {
  height: 3rem;
  text-align: center;
  border-bottom: 1px solid #e6e6e6
}

.requests table tbody tr td:first-child {
  text-align: start;
  font-weight: 600
}

.requests table tbody tr td span.status-label-open,
.requests table tbody tr td form .upload-dropzone a.status-label-open,
form .upload-dropzone .requests table tbody tr td a.status-label-open {
  color: #998b0a
}

.requests table tbody tr td span.status-label-closed,
.requests table tbody tr td form .upload-dropzone a.status-label-closed,
form .upload-dropzone .requests table tbody tr td a.status-label-closed {
  color: #00b569
}

.requests table tbody tr td span.tableSubject,
.requests table tbody tr td form .upload-dropzone a.tableSubject,
form .upload-dropzone .requests table tbody tr td a.tableSubject,
.requests table tbody tr td span.tableIdProject,
.requests table tbody tr td form .upload-dropzone a.tableIdProject,
form .upload-dropzone .requests table tbody tr td a.tableIdProject,
.requests table tbody tr td span.tableProtocol,
.requests table tbody tr td form .upload-dropzone a.tableProtocol,
form .upload-dropzone .requests table tbody tr td a.tableProtocol,
.requests table tbody tr td span.tableCreated,
.requests table tbody tr td form .upload-dropzone a.tableCreated,
form .upload-dropzone .requests table tbody tr td a.tableCreated,
.requests table tbody tr td span.tableStatus,
.requests table tbody tr td form .upload-dropzone a.tableStatus,
form .upload-dropzone .requests table tbody tr td a.tableStatus {
  display: none
}

.request-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between
}

@media(min-width: 1024px) {
  .request-container {
    align-items: flex-start;
    flex-direction: row
  }
}

.request-container .comment-container {
  min-width: 0
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.comment-container__title {
  font-size: 1rem
}

.comment-container .comment-attachments {
  margin-top: 1rem
}

.comment-container .comment-form-controls input {
  width: 110px;
  height: 50px;
  padding: 0;
  border: 0
}

.comment-container .comment-form-controls input:hover {
  background-color: #2f2f2f;
  opacity: 1
}

.request-breadcrumbs {
  margin-bottom: 1.2rem
}

.request-breadcrumbs ol {
  display: flex;
  flex-direction: row
}

.request-breadcrumbs ol li {
  display: flex
}

.request-breadcrumbs ol li::after {
  content: "";
  background: url($assets-chevron-right-svg) no-repeat center;
  height: 100%;
  width: 15px;
  margin-left: .4rem
}

.request-breadcrumbs ol li:last-child::after {
  display: none
}

@media(min-width: 1024px) {
  .request-breadcrumbs {
    margin-bottom: 1.2rem
  }
}

.request-main {
  flex: 1 0 auto;
  order: 1;
  padding: 0;
}

.request-main .comment-list {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 3rem 3rem 1.5rem 3rem;
  gap: 1rem;
  max-height: 640px;
  overflow-y: scroll
}

.request-main .comment-list .comment-wrapper .comment-author {
  display: flex;
  align-items: center;
  gap: 1rem
}

.request-main .comment-list .comment-wrapper .comment-author .comment-meta__name {
  color: #000;
  font-weight: 700
}

.request-main .comment-list .comment-wrapper .comment-author .comment-avatar img {
  border-radius: 50%;
  height: 3.5rem
}

.request-main .comment-list .comment-wrapper .comment-body {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0;
  gap: 0
}

.request-main .comment-list .comment-wrapper .attachment-item {
  flex-direction: row;
  margin-top: 1rem
}

.request-main .comment-list li:last-child .comment-body {
  border-bottom: none
}

.request-main .comment-fields.shown {
  display: block
}

.request-main .request-submit-comment.shown {
  display: inline
}

@media(min-width: 1024px) {
  .request-main {
    flex: 0 0 66%;
    order: 0;
    min-width: 0;
    padding-right: 2rem;
    padding-top: 2rem
  }
}

.request-main .comment-form-controls {
  display: block
}

.request-main .comment-ccs {
  display: block
}

.request-main .comment-show-container {
  border-radius: 2px;
  border: 1px solid #ddd;
  text-align: inherit;
  padding: 8px 25px;
  width: 100%
}

.request-main .comment-show-container.hidden {
  display: none
}

.request-main .form-field.comment-ccs>ul {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0
}

.request-main .form-field.comment-ccs>ul[data-hc-focus=true] {
  border: 1px solid $brand_color
}

.request-main .form-field.comment-ccs>input[type=text] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0
}

.request-main .comment-ccs+textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  width: 100%;
  height: 140px;
  border-radius: 4px
}

.request-main .comment-ccs+textarea:focus {
  border-top: 1px solid $brand_color
}

.request-main input#mark_as_solved {
  display: none
}

.request-title {
  font-family: "Right Grotesk";
  font-weight: 400;
  width: 100%
}

@media(min-width: 1024px) {
  .request-title {
    margin-bottom: 0;
    max-width: 66%;
    padding-bottom: .3rem
  }
}

.request-sidebar {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  flex: 1 0 auto;
  order: 0
}

@media(min-width: 1024px) {
  .request-sidebar {
    border: 0;
    font-size: 13px;
    flex: 0 0 auto;
    padding: 0 20px;
    width: 30%
  }
}

.request-sidebar h2 {
  font-size: 15px;
  font-weight: 600;
  position: relative
}

@media(min-width: 1024px) {
  .request-sidebar h2 {
    display: none
  }
}

.request-details {
  font-size: 0;
  margin: 0;
}

.request-details:last-child {
  border: 0
}

.request-details dt,
.request-details dd {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  padding: 1rem 0px;
  margin: 0;
  border-bottom: 1px solid #e6e6e6
}

.request-details dd {
  width: 60%;
  color: #606060
}

.request-details dd::after {
  content: "\a";
  white-space: pre
}

.request-details dt {
  font-weight: 600;
  width: 40%
}

.request-attachments dt,
.request-attachments dd {
  width: 100%;
  border: 0;
  padding: 0
}

.attachment-item {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.attachment-item__title {
  display: flex;
  align-items: center
}

.attachment-item__title svg path {
  stroke: #004a2c
}

.attachment-item a {
  color: #0076e2
}

.attachment-item a:hover {
  color: $brand_color
}

.request-details .request-collaborators {
  display: inline-block
}

.request-attachments dd {
  margin: 10px 0 0 0
}

.request-form textarea {
  min-height: 120px
}

.request-follow-up {
  padding-top: 20px
}

.collapsible-sidebar {
  flex: 1;
  max-height: 45px;
  overflow: hidden;
  padding: 10px 0;
  position: relative
}

@media(min-width: 1024px) {
  .collapsible-sidebar {
    max-height: none;
    padding: 1rem 0
  }
}

.collapsible-sidebar-title {
  margin-top: 0
}

.collapsible-sidebar-toggle {
  position: absolute;
  top: 22.5px;
  transform: translateY(-50%);
  right: 0;
  padding: 0;
  border: 0;
  background: none;
  width: 25px;
  height: 25px;
  border-radius: 50%
}

@media(min-width: 1024px) {
  .collapsible-sidebar-toggle {
    display: none
  }
}

[dir=rtl] .collapsible-sidebar-toggle {
  left: 0;
  right: auto
}

.collapsible-sidebar-toggle-icon {
  display: none
}

.collapsible-sidebar-toggle[aria-expanded=false] .chevron-icon {
  display: inline-block
}

.collapsible-sidebar-toggle[aria-expanded=true] .x-icon {
  display: inline-block
}

.collapsible-sidebar-toggle:focus {
  outline: none;
  border: 1px solid $brand_color
}

.collapsible-sidebar-body {
  display: none
}

@media(min-width: 1024px) {
  .collapsible-sidebar-body {
    display: block
  }
}

.collapsible-sidebar[aria-expanded=true] {
  max-height: none
}

.collapsible-sidebar[aria-expanded=true] .collapsible-sidebar-body {
  display: block
}

.tableButton {
  display: none
}

@media(max-width: 1024px) {
  .categories-cards__card a h3 {
    font-size: 1.4rem;
  }
}

@media(max-width: 899px) {
  .section-articles__card {
    width: calc((100% / 2) - 1rem);
  }
}

@media(max-width: 899px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .2509803922);
    z-index: 5;
    display: none
  }

  .background--active {
    display: flex
  }

  .header {
    position: fixed;
    z-index: 100;
    height: 6.3rem;
    width: 100vw !important
  }

  .header__content {
    padding: 1.5rem
  }

  .header__nav {
    top: 5rem;
    right: 0;
    width: 100%;
    height: calc(100vh - 6.2rem);
    z-index: -1;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform .2s ease-in;
    background-color: #000
  }

  .header__button {
    display: block
  }

  .header__banner {
    padding-top: .3rem;
    height: 32rem;
  }

  .footer .container,
  .footer section {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr))
  }

  .footer-social {
    grid-area: 4
  }

  .header__margin {
    background-color: #fff;
    width: 100%;
    height: 6.3rem
  }

  .request-container {
    flex-direction: column-reverse !important
  }

  .request-main .comment-list {
    padding: 1rem 1rem !important
  }

  .request-main .comment-author .comment-avatar img {
    height: 2.5rem !important
  }

  .request-main .attachment-item {
    font-size: .8rem
  }

  .request-title {
    font-size: 1.2rem
  }

  .requests table {
    width: 100%;
    border-collapse: collapse
  }

  .requests table thead {
    display: none
  }

  .requests table tbody {
    display: flex;
    flex-direction: column
  }

  .requests table tbody tr {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: start;
    gap: 1rem;
    margin-top: 1rem
  }

  .requests table tbody tr td {
    color: #606060;
    font-size: 1.1rem
  }

  .requests table tbody tr td a {
    color: #606060;
    font-weight: 400
  }

  .requests table tbody tr td a:hover {
    color: #009254
  }

  .requests table tbody tr td span,
  .requests table tbody tr td form .upload-dropzone a,
  form .upload-dropzone .requests table tbody tr td a {
    color: #000;
    font-weight: 600
  }

  .requests table tbody tr td span.tableSubject,
  .requests table tbody tr td form .upload-dropzone a.tableSubject,
  form .upload-dropzone .requests table tbody tr td a.tableSubject,
  .requests table tbody tr td span.tableIdProject,
  .requests table tbody tr td form .upload-dropzone a.tableIdProject,
  form .upload-dropzone .requests table tbody tr td a.tableIdProject,
  .requests table tbody tr td span.tableProtocol,
  .requests table tbody tr td form .upload-dropzone a.tableProtocol,
  form .upload-dropzone .requests table tbody tr td a.tableProtocol,
  .requests table tbody tr td span.tableCreated,
  .requests table tbody tr td form .upload-dropzone a.tableCreated,
  form .upload-dropzone .requests table tbody tr td a.tableCreated,
  .requests table tbody tr td span.tableStatus,
  .requests table tbody tr td form .upload-dropzone a.tableStatus,
  form .upload-dropzone .requests table tbody tr td a.tableStatus {
    display: initial
  }

  .requests table tbody tr td span.status-label-open,
  .requests table tbody tr td form .upload-dropzone a.status-label-open,
  form .upload-dropzone .requests table tbody tr td a.status-label-open,
  .requests table tbody tr td span.status-label-new,
  .requests table tbody tr td form .upload-dropzone a.status-label-new,
  form .upload-dropzone .requests table tbody tr td a.status-label-new {
    color: #998b0a
  }

  .requests table tbody tr td.tableButton {
    display: block;
    width: 185px;
    background-color: #000;
    border-radius: 8px;
    padding: 1rem 2rem;
    margin-bottom: 1rem
  }

  .requests table tbody tr td.tableButton a {
    color: #fff
  }

  .requests table tbody tr td.tableButton:hover {
    background-color: #2f2f2f
  }

  .requests table .panel {
    display: none;
  }

  #requests-table-holder {
    height: max-content !important;
  }

  .accordion {
    padding-bottom: 24px !important;
    margin-bottom: 24px !important;
  }

  .panel {
    padding: 0 !important;
    margin: 0 !important;
  }

  .panel td {
    width: 100vw;
  }

  .accordion-container .left-side {
    padding: 0 !important;
  }

  .accordion-container .right-side {
    width: 100% !important;
  }

  .request-breadcrumbs {
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .my-activities-header {
    flex-direction: column;
    align-items: start
  }

  .my-activities-header a {
    display: none
  }

  .my-activities-header .breadcrumbs {
    display: flex;
    flex-direction: row
  }

  .my-activities-header .breadcrumbs li {
    display: flex;
    align-items: center
  }

  .my-activities-header .breadcrumbs li ::after {
    content: "";
    background: url($assets-chevron-right-svg) no-repeat center;
    height: 15px;
    width: 15px
  }

  .my-activities-header .breadcrumbs a {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    color: #000;
    gap: .2rem
  }

  .categories-cards ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .with-menu {
    flex-direction: column-reverse;
    gap: 3rem
  }

  .with-menu aside {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .with-menu aside ul {
    width: 100%
  }

  .with-menu main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%
  }

  .with-menu main .article-vote {
    flex-direction: column
  }

  .search-result__list li a .row li {
    display: none !important;
    width: 100%
  }

  .search-result__list li a .row li span,
  .search-result__list li a .row li form .upload-dropzone a,
  form .upload-dropzone .search-result__list li a .row li a {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .search-result__list li a .row li:last-child {
    display: flex !important;
    gap: .3rem
  }

  .search-result__list li a .row li:last-child::before {
    content: "";
    background: url($assets-chevron-left-svg) no-repeat center;
    height: 15px;
    width: 15px
  }

  section.collapsible-sidebar {
    background-color: #ddd;
    padding: 1rem 1rem;
    max-height: 100%;
    border-radius: 4px
  }

  section.collapsible-sidebar .collapsible-sidebar-toggle {
    right: 1rem;
    top: 28px
  }

  section.home-category {
    margin-top: -9rem
  }

  .categories-cards ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categories-cards__card {
    width: 100%;
  }

  .dropdown--text {
    text-align: center;
  }

  .hearder_dropdown-noauth {
    align-items: center;
    flex-direction: column;
  }

  .section-header {
    margin-top: 3rem;
  }

  .no-result {
    padding: 3rem 1rem;
  }

}

@media(max-width: 566px) {
  .section-articles__card {
    width: 100%;
  }

  .with-menu main .title {
    font-size: 1.75rem;
  }

  .search-result__title.no-result {
    text-align: center;
  }

  .search-result__title h2 {
    font-size: 1.5rem;
  }

  .form-title h2 {
    font-size: 1.25rem;
  }
}

@media(max-width: 425px) {
  .header__banner {
    height: 32rem
  }

  .footer .container,
  .footer section {
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr))
  }

  .footer-social {
    grid-area: 4;
    align-items: center
  }

  .footer__contact a {
    max-width: 100%;
    text-align: center
  }

  .section-page .breadcrumbs li a::after {
    content: none
  }

  .section-page .breadcrumbs li a::before {
    content: "";
    background: url($assets-chevron-left-svg) no-repeat center;
    height: 15px;
    width: 15px
  }

  .section-page .breadcrumbs li:first-child,
  .section-page .breadcrumbs li:last-child {
    display: none
  }

  .with-menu main .breadcrumbs li a::after {
    content: none
  }

  .with-menu main .breadcrumbs li a::before {
    content: "";
    background: url($assets-chevron-left-svg) no-repeat center;
    height: 15px;
    width: 15px
  }

  .with-menu main .breadcrumbs li:first-child,
  .with-menu main .breadcrumbs li:last-child {
    display: none
  }

  .search-result__title h2 {
    font-size: 1.5rem
  }

  .categories-cards__card a h3 {
    font-size: 1.25em;
  }

  .promoted-articles__container {
    padding: 2rem 0.25rem;
  }
}

@media(max-width: 375px) {
  .header .header-logo {
    gap: 1rem
  }

  .header .header-logo__img {
    width: 6rem
  }

  .header .header-logo p {
    font-size: .9rem
  }

  .header__banner .title h1 {
    font-size: 2.5rem
  }

  .my-activities-header h1 {
    font-size: 1.5rem
  }

  .my-activities-header .breadcrumbs {
    font-size: .9rem;
    margin-top: .5rem
  }

  .categories-cards ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categories-cards__card {
    width: 100%;
  }

  .categories-cards__card a h3 {
    font-size: 1.1em;
  }

  .header__banner {
    height: 34rem;
  }
}

@media(max-width: 320px) {
  .header__nav {
    width: 100%
  }

  .categories-cards__card a h3 {
    font-size: 1.0em;
  }
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url($assets-lato-light-ttf)
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url($assets-lato-regular-ttf)
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url($assets-lato-bold-ttf)
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: url($assets-lato-black-ttf)
}

@font-face {
  font-family: "Right Grotesk";
  font-weight: 300;
  src: url($assets-rightgrotesk-narrowlight-otf)
}

@font-face {
  font-family: "Right Grotesk";
  font-weight: 400;
  src: url($assets-rightgrotesk-widemedium-otf)
}

@font-face {
  font-family: "Right Grotesk";
  font-weight: 700;
  src: url($assets-rightgrotesk-compactblack-otf)
}

@font-face {
  font-family: "Right Grotesk";
  font-weight: 900;
  src: url($assets-rightgrotesk-spatialblack-otf)
}

body {
  font-family: "Lato", "Right Grotesk", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: $text_color;
  overflow-x: hidden
}

.container,
section {
  width: 92vw;
  max-width: 1280px;
  margin: 0 auto
}

.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.container.sm,
section.sm {
  max-width: 620px
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5.5rem 0
}

section form {
  display: contents
}

section form label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #000
}

@media(min-width: 1024px) {
  section.with-menu {
    flex-direction: row;
    gap: 1rem 2rem
  }

  section.with-menu aside {
    width: 25%
  }

  section.with-menu main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%
  }
}

.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #f6f6f6;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}