<section>
  <div class="error-page">
    <h1 class="error-page__title">Esta página não foi encontrada.</h1>
    <span class="error-page__mensage">
      {{#is error "unauthorized"}}{{t "sign_in"}}{{/is}}
      {{#is error "forbidden"}}{{t "not_authorized"}}{{/is}}
      {{#is error "not_found"}}{{t "nonexistent_page"}}{{/is}}
    </span>
    <a class="error-page__button" href="/hc">Voltar para a página inicial</a>
  </div>
</section>
